<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Веб-архив</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Веб-архив</h1>

        <form id="addForm">
            <div class="input-button-row">
                <label for="urlInput">Введите URL:</label>
                <input type="text" id="urlInput" name="urlInput" required>
                <button type="button" class="btn" onclick="addPage()">Добавить</button>
            </div>

            <div class="checkbox-container" style="margin-top: 10px;">
                <input type="checkbox" id="protectedPageCheckbox" name="protectedPage">
                <label for="protectedPageCheckbox">Это защищённая страница?</label>
            </div>
        </form>

        <div class="button-group">
            <button type="button" class="btn" onclick="showPage()">Показать сохранённую страницу</button>
            <button type="button" id="domainInfoButton" onclick="toggleDomainInfo()">Показать информацию о домене</button>
            <button type="button" class="btn" onclick="openAddConfigForm()">➕ Добавить конфиг</button>
            <button type="button" id="logoutButton" onclick="logout()">Выйти</button>
        </div>

        <div id="displayArea"></div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
