<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор сохранённой версии</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list_pages.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выбор сохранённой версии страницы</h1>
        <ul id="pagesList"></ul>
        <div id="pagination" class="pagination"></div>
    </div>

    <script>
        const archivedPages = {{ archived_pages | tojson }};
        const itemsPerPage = 10;
        let currentPage = 1;

        function renderPagination(totalPages) {
            const pagination = document.getElementById('pagination');
            pagination.innerHTML = '';

            for (let i = 1; i <= totalPages; i++) {
                const pageLink = document.createElement('a');
                pageLink.textContent = i;
                pageLink.href = '#';
                pageLink.onclick = (function(page) {
                    return function(event) {
                        event.preventDefault();
                        currentPage = page;
                        renderPage(page);
                    }
                })(i);

                const pageItem = document.createElement('li');
                if (i === currentPage) {
                    pageLink.style.fontWeight = 'bold';
                }
                pageItem.appendChild(pageLink);
                pagination.appendChild(pageItem);
            }
        }

        function renderPage(page) {
            const startIndex = (page - 1) * itemsPerPage;
            const endIndex = page * itemsPerPage;
            const pagesList = document.getElementById('pagesList');

            pagesList.innerHTML = '';
            const currentItems = archivedPages.slice(startIndex, endIndex);
            currentItems.forEach((page, index) => {
                const li = document.createElement('li');
                li.innerHTML = `
                    <div class="version-info-container">
                        <div class="version-info">
                            <a href="/show_page/${page.id}">Version ${startIndex + index + 1} - ${page.timestamp}</a>
                        </div>
                        <button class="show-info-button" onclick="toggleDomainInfo(this, ${page.id})">Информация о домене</button>
                    </div>
                    <div id="domainInfoArea-${page.id}" class="domain-info"></div>
                `;
                pagesList.appendChild(li);
            });

            renderPagination(Math.ceil(archivedPages.length / itemsPerPage));
        }

        function toggleDomainInfo(button, pageId) {
            const domainInfoArea = document.getElementById('domainInfoArea-' + pageId);
            if (domainInfoArea.style.display === 'none' || domainInfoArea.innerHTML === '') {
                fetch(`/get_domain_info/${pageId}`)
                    .then(response => response.text())
                    .then(html => {
                        domainInfoArea.innerHTML = html;
                        domainInfoArea.style.display = 'block';
                        button.textContent = 'Скрыть информацию о домене';
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                domainInfoArea.style.display = 'none';
                domainInfoArea.innerHTML = '';
                button.textContent = 'Информация о домене';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            renderPage(currentPage);
        });
    </script>
</body>
</html>
