<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор сохранённой версии</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_pages.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выбор сохранённой версии страницы</h1>

        <div class="sort-buttons">
            <label for="sortOrder">Сортировка: </label>
            <select id="sortOrder" onchange="changeSortOrder(this.value)">
                <option value="desc">Сначала новые</option>
                <option value="asc">Сначала старые</option>
            </select>
        </div>

        <ul id="pagesList"></ul>
        <div id="pagination" class="pagination"></div>
    </div>

    <script>
        const archivedPages = {{ archived_pages | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/pages.js') }}"></script>
</body>
</html>
