<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Вход</h1>
        <form method="POST" action="/login" id="loginForm">
            <div class="form-row">
                <label for="emailInput">Email:</label>
                <input type="text" id="emailInput" name="email" required>
            </div>
            <div class="form-row">
                <label for="passwordInput">Пароль:</label>
                <input type="password" id="passwordInput" name="password" required>
            </div>
            <button type="submit">Войти</button>
        </form>
        <p>Еще нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
