<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>

    <!-- Флеш-сообщения -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('register') }}">
        <label for="emailInput">Email:</label>
        <input type="email" id="emailInput" name="email" required>
        <br><br>
        <label for="passwordInput">Пароль:</label>
        <input type="password" id="passwordInput" name="password" required>
        <br><br>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a></p>
</div>

</body>
</html>
